<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Country Data Visualizer</title>

        <style>
            h1 {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <h1>Welcome to Country Data Visualizer</h1>

        <form th:action="@{/visualize}" th:object="${submitted}" method="post">
            <div class = "user-form">
                <div class = "countries">
                    <h2>Select up to 5 Countries</h2>
                    <select name="countries" class="countries-list" id="country1">
                        <option th:each="country : ${countries}" th:value="${country.code}"
                                th:text="${country.name} + ' (default)'"></option>
                    </select>

                    <select name="countries" class="countries-list" id="country2">
                        <option value = "None">None</option>
                        <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.name}"></option>
                    </select>

                    <select name="countries" class="countries-list" id="country3">
                        <option value = "None">None</option>
                        <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.name}"></option>
                    </select>

                    <select name="countries" class="countries-list" id="country4">
                        <option value = "None">None</option>
                        <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.name}"></option>
                    </select>

                    <select name="countries" class="countries-list" id="country5">
                        <option value = "None">None</option>
                        <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.name}"></option>
                    </select>
                </div>

                <div class="indicators">
                    <h2>Select up to 3 Indicators</h2>
                    <select name="indicators" class="indicators-list" id="indicator1">
                        <option th:each="indicator : ${indicators}"
                                th:value="${indicator.code}" th:text="${indicator.name} + ' (default)'">
                        </option>

                    </select><br/>
                    <select name="indicators" class="indicators-list" id="indicator2">
                        <option value = "None">None</option>
                        <option th:each="indicator : ${indicators}" th:value="${indicator.code}" th:text="${indicator.name}"></option>
                    </select><br/>

                    <select name="indicators" class="indicators-list" id="indicator3">
                        <option value = "None">None</option>
                        <option th:each="indicator : ${indicators}" th:value="${indicator.code}" th:text="${indicator.name}"></option>
                    </select><br/>
                </div>

                <div class = "time-period">
                    <h2>Select Time Period</h2>
                    <label for="start-year">Start at:</label>
                    <select id="start-year" name="startYear" >
                        <option th:each="date : ${years}" th:text="${date.year}"></option>
                    </select>

                    <label for="end-year">End at:</label>
                    <select id="end-year" name="endYear">
                        <option th:each="date : ${years}" th:text="${date.year}"></option>
                    </select>
                </div>


                <button type="submit" value="timeline" name="visualType">Create Timeline</button>
                <button type="submit" value="barChart" name="visualType">Create Bar Chart</button>
                <button type="submit" value="scatterPlot" name="visualType">Create Scatter Plot</button>
                <button type="reset" value="Reset">Reset</button>
            </div>
        </form>

    </body>
</html>